@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.header-section{
    background-color: #ff8f0e10;
}

.display-flex {
    display: flex;
    
}

.navbar {
    justify-content: space-between;
    align-items: center;
  

}

.nav-item {
    list-style: none;
}


.nav-item , .nav-link {
    text-decoration: none;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
}

.navbar ,bannar {
    max-width: 1440px;
    margin: 0 auto;
}

.brand {
    color: #131313;
    font-size: 2rem;
    font-weight: bold;
}

.bannar-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.bannar-content h1 {
    font-weight: 700;
    color: #131313;
    font-size: 4rem;
    margin-bottom: 10px;
}
.bannar-content p {
    color: #727272;
    font-size: 1rem;
}
.btn {
    background-color: #FF900E;
    color: white;
    padding: 20px 25px ;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;


}

.banner-img {
    width: 100%;
}

section {
    margin-top: 100px;
}
.main {
    max-width: 1440px;
    margin: 0 auto;
    
}

.teams {
    align-items: center;
}
.team-img {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}

.feature {
    margin-left: 120px;
    max-width: 530px;

}
.feature h3 {
    font-size: 2.8rem;
    font-weight: 700;
}

#first-part{
    color:#727272;
    font-weight: 400;
    

}
#third-part {
    color: #FF900E;
}

.feature p{
    color: #727272;
}
/* //responsive style for small device // */
@media screen and (max-width:576px) {
    .navbar ,
     .nav-links,
     .teams
      {
        flex-direction: column;
    }

    .team-img {
        grid-template-columns: repeat(1,1fr);
    }

    .feature{
        margin-left: 30px;
        

    } 

    #btn2{
        margin-left:60px;
    }


    
}


/* // responsive style for medium device // */


@media screen and (min-width:576px) and (max-width:992px){
    .teams{
        flex-direction: column;
    }

    
}